

#mainHome{
    margin: 5px;
    text-align: center;

}


#videoSect {
    width: 70%;
    height: 500px;
    border: 2px solid green;
    float: left;
    margin: 5px;

}
#buttonSect {
    width: 26%;
    height: max-content;
   /* border: 2px solid red;*/
    float: right;
    margin: 0px;

}
#chatSect {
    width: 26%;
    height: 500px;
    padding: 10px;
    /*border: 2px solid #ff00d6;*/
    background: rgb(220, 220, 220);
    float: right;
    margin: 5px;

}
#dataSect {
    width: 70%;
    height: 300px;
    border: 2px solid blue;
    float: left;
    margin: 5px;

}